# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/

# Database
calculations.db
*.sqlite3

# Operating System
.DS_Store
Thumbs.db

# IDE (Optional, if you use VSCode, PyCharm etc.)
.vscode/
.idea/
